body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #1a1a1a;
  color: #eaeaea;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid #007acc;
}
.wrapper{
  min-height:100vh;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-info {
  text-align: left;
}

.profile-info h1 {
  margin: 0;
  font-size: 1.5rem;
}

.profile-info p {
  margin: 0.3rem 0;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  background: #2a2a2a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.posts {
  text-align: center;
}

.post {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #333;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin-top: 0;
}

.read-more {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background: #007acc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.read-more:hover {
  background: #005999;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
  border-radius: 15px 15px 0 0;
  width:100%;
}

article.post-content {
  padding: 2rem;
  background: #2a2a2a;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

